# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Uu]serSettings/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.suo
*.cache
*.orig

# VS
.vs/
*.VC.db

# OS
.DS_Store
Thumbs.db
